<table>
    <tr>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/">Home</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nbastats">NBA Statistics</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nbabracket">NBA Bracket Generator</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nflstats">NFL Statistics</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nflbracket">NFL Bracket Generator</a></td>
    </tr>
</table>
<body>
<div class="column lebron-column">
    <img src="lebronpic.jpg" alt="LeBron James">
  </div>
  
  <link rel="stylesheet" href="style.scss">
  
  </body>
  