<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="assets/css/style.scss">
</head>
<body>
  <table>
    <tr>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/">Home</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nbastats">NBA Statistics</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nbabracket">NBA Bracket Generator</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nflstats">NFL Statistics</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/plstats">Premier League Stats</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/trivia">Sports Trivia Game</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/basketballScreensaver">Basketball Screensaver</a></td>

    </tr>
  </table>

  <div id="animationWrapper">
    <img id="lebronpic" src="lebronpic.jpg" alt="Lebron James">
  </div>
  

</body>
</html>
