<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="assets/css/style.scss">
</head>
<body>
  <table>
    <tr>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/">Home</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nbastats">NBA Statistics</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nbabracket">NBA Bracket Generator</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/nflstats">NFL Statistics</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/plstats">Premier League Stats</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/trivia">Sports Trivia Game</a></td>
        <td><a href="https://jyustin.github.io/N-TMtri3project-devops-/basketballScreensaver">Basketball Screensaver</a></td>

    </tr>
  </table>
  <style>
    @keyframes spin {
      0% {
        transform: translateX(0) rotate(0deg);
      }
      50% {
        transform: translateX(200px) rotate(360deg);
      }
      100% {
        transform: translateX(0) rotate(720deg);
      }
    }
    
    .spinning-image {
      animation: spin 4s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    </style>
    
    <section>
      <img class="spinning-image" src="lebronpic.jpg" alt="LeBron James">
    </section>
    
  

</body>
</html>
