<html>
  <head>
    <script>
      let score = 0;
      function create_score() {
        let score_element = document.createElement("h1");
        score_element.innerText = score;
        document.getElementById("score").appendChild(score_element);
      }
      create_score();
      function displayQuestion(category, value, element) {
        let URL = `https://tri3dev.duckdns.org/api/jeopardy?category=${category}&points=${value}`;
        let check_URL = `https://tri3dev.duckdns.org/api/check_answer?category=${category}&points=${value}`;
        fetch(URL).then(d => d.json()).then(problem => {
          let { question } = problem;
          let userResponse = prompt(question);
          const letterNumber = /^[A-Za-z0-9\s]*$/;
          if(!letterNumber.test(userResponse)) {
              alert("only letters and numbers are allowed");
              return; 
          }
          fetch(check_URL,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "answer": userResponse.trim() }),
        }).then(d => d.json()).then(response => {
            console.log(response)
            if(response.result === "Correct") {
                score += value;
                element.remove();
              } else {
                alert("you are wrong");
              }
              document.getElementById("score").innerText=score;
          });
          
          
         // document.getElementById("question").innerHTML = question;
        });
}
      
    </script>
  </head>
  <body>
    <h2>Jeopardy Categories</h2>
    <div id="score"></div>
    <table>
      <tr>
        <td>NBA</td>
        <td><button onclick="displayQuestion('NBA', 100, this)">100</button></td>
        <td><button onclick="displayQuestion('NBA', 200, this)">200</button></td>
        <td><button onclick="displayQuestion('NBA', 300, this)">300</button></td>
        <td><button onclick="displayQuestion('NBA', 400, this)">400</button></td>
        <td><button onclick="displayQuestion('NBA', 500, this)">500</button></td>
      </tr>
      <tr>
        <td>NFL</td>
        <td><button onclick="displayQuestion('NFL', 100, this)">100</button></td>
        <td><button onclick="displayQuestion('NFL', 200, this)">200</button></td>
        <td><button onclick="displayQuestion('NFL', 300, this)">300</button></td>
        <td><button onclick="displayQuestion('NFL', 400, this)">400</button></td>
        <td><button onclick="displayQuestion('NFL', 500, this)">500</button></td>
      </tr>
      <tr>
        <td>UFC</td>
        <td><button onclick="displayQuestion('UFC', 100, this)">100</button></td>
        <td><button onclick="displayQuestion('UFC', 200, this)">200</button></td>
        <td><button onclick="displayQuestion('UFC', 300, this)">300</button></td>
        <td><button onclick="displayQuestion('UFC', 400, this)">400</button></td>
        <td><button onclick="displayQuestion('UFC', 500, this)">500</button></td>
      </tr>
      <tr>
        <td>Soccer</td>
        <td><button onclick="displayQuestion('Soccer', 100, this)">100</button></td>
        <td><button onclick="displayQuestion('Soccer', 200, this)">200</button></td>
        <td><button onclick="displayQuestion('Soccer', 300, this)">300</button></td>
        <td><button onclick="displayQuestion('Soccer', 400, this)">400</button></td>
        <td><button onclick="displayQuestion('Soccer', 500, this)">500</button></td>
      </tr>
      <tr>
        <td>MLB</td>
        <td><button onclick="displayQuestion('MLB', 100, this)">100</button></td>
        <td><button onclick="displayQuestion('MLB', 200, this)">200</button></td>
        <td><button onclick="displayQuestion('MLB', 300, this)">300</button></td>
        <td><button onclick="displayQuestion('MLB', 400, this)">400</button></td>
        <td><button onclick="displayQuestion('MLB', 500, this)">500</button></td>
    </tr>